openapi: 3.0.1
info:
  title: Competition Engine
  version: '1.0'
servers:
  - url: https://api-live.euroleague.net
paths:
  /v1/games:
    get:
      tags:
        - Games
      parameters:
        - name: seasonCode
          in: query
          schema:
            type: string
        - name: gameCode
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BoxScoreModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/players:
    get:
      tags:
        - Players
      summary: Gets player with accumulated stats per season and phase
      parameters:
        - name: playerCode
          in: query
          description: ''
          schema:
            type: string
        - name: seasonCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPlayerModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/results:
    get:
      tags:
        - Results
      summary: 'Gets all the games played in a specific season, after a specific number of games played in that season'
      parameters:
        - name: seasonCode
          in: query
          description: ''
          schema:
            type: string
        - name: gameNumber
          in: query
          description: ''
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/schedules:
    get:
      tags:
        - Schedules
      parameters:
        - name: seasonCode
          in: query
          schema:
            type: string
        - name: gameNumber
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/standings:
    get:
      tags:
        - Standings
      summary: Displays the standings in all the groups of all the stages in current season
      parameters:
        - name: seasonCode
          in: query
          description: Specifies the season
          schema:
            type: string
        - name: gameNumber
          in: query
          description: Specifies round number
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StandingsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/teams:
    get:
      tags:
        - Teams
      summary: Gets all clubs with games and roster
      parameters:
        - name: seasonCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v1/Test/PublicTest: { }
  /v1/Test/CanReadTest: { }
  /v1/Test/CanWriteTest: { }
  /v1/Test/IsAdminTest: { }
components:
  schemas:
    AccumulatedSeasonStatsModel:
      type: object
      properties:
        seasonStats:
          $ref: '#/components/schemas/AccumulatedStatsModel'
        phaseStats:
          type: array
          items:
            $ref: '#/components/schemas/AccumulatedStatsModel'
          nullable: true
      additionalProperties: false
    AccumulatedStatsModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        gamesPlayed:
          type: integer
          format: int32
        timePlayed:
          type: string
          nullable: true
        score:
          type: integer
          format: int32
        fieldGoalsMade2:
          type: integer
          format: int32
        fieldGoalsMade3:
          type: integer
          format: int32
        freeThrowsMade:
          type: integer
          format: int32
        fieldGoalsAttempted2:
          type: integer
          format: int32
        fieldGoalsAttempted3:
          type: integer
          format: int32
        freeThrowsAttempted:
          type: integer
          format: int32
        offensiveRebounds:
          type: integer
          format: int32
        defensiveRebounds:
          type: integer
          format: int32
        totalRebounds:
          type: integer
          format: int32
        assistances:
          type: integer
          format: int32
        steals:
          type: integer
          format: int32
        turnovers:
          type: integer
          format: int32
        blocksAgainst:
          type: integer
          format: int32
        blocksFavour:
          type: integer
          format: int32
        foulsCommited:
          type: integer
          format: int32
        foulsReceived:
          type: integer
          format: int32
        valuation:
          type: integer
          format: int32
      additionalProperties: false
    ArenaModel:
      type: object
      properties:
        name:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
      additionalProperties: false
    BoxScoreModel:
      type: object
      properties:
        seasonCode:
          type: string
          nullable: true
        phaseTypeCode:
          type: string
          nullable: true
        phaseTypeName:
          type: string
          nullable: true
        audience:
          type: integer
          format: int32
        audienceConfirmed:
          type: boolean
        referees:
          $ref: '#/components/schemas/RefereesModel'
        localClub:
          $ref: '#/components/schemas/GameClubModel'
        roadClub:
          $ref: '#/components/schemas/GameClubModel'
        tvSchedules:
          $ref: '#/components/schemas/TvSchedulesModel'
        history:
          $ref: '#/components/schemas/GameHistoryModel'
        code:
          type: integer
          format: int32
        played:
          type: boolean
        number:
          type: integer
          format: int32
        cetDate:
          type: string
          format: date-time
        localTimezone:
          type: integer
          format: int32
        stadium:
          type: string
          nullable: true
        stadiumName:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        ticketsUrl:
          type: string
          nullable: true
      additionalProperties: false
    ClubModel:
      type: object
      properties:
        name:
          type: string
          nullable: true
        clubName:
          type: string
          nullable: true
        clubAlias:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        imageCroppedUrl:
          type: string
          nullable: true
        clubAddress:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        ticketsUrl:
          type: string
          nullable: true
        twitterAccount:
          type: string
          nullable: true
        arena:
          $ref: '#/components/schemas/ArenaModel'
        videos:
          type: array
          items:
            $ref: '#/components/schemas/VideoModel'
          nullable: true
        phases:
          type: array
          items:
            $ref: '#/components/schemas/PhaseModel'
          nullable: true
        players:
          type: array
          items:
            $ref: '#/components/schemas/PlayerModel'
          nullable: true
        coach:
          $ref: '#/components/schemas/CoachModel'
        rosterImageUrl:
          type: string
          nullable: true
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberModel'
          nullable: true
        code:
          type: string
          nullable: true
        tvCode:
          type: string
          nullable: true
      additionalProperties: false
    ClubsModel:
      type: object
      properties:
        clubs:
          type: array
          items:
            $ref: '#/components/schemas/ClubModel'
          nullable: true
      additionalProperties: false
    CoachModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        alias:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
      additionalProperties: false
    CoachQuoteModel:
      type: object
      properties:
        quote:
          $ref: '#/components/schemas/PersonModel'
      additionalProperties: false
    GameClubModel:
      type: object
      properties:
        partials:
          $ref: '#/components/schemas/PartialsModel'
        pregameQuotes:
          $ref: '#/components/schemas/PregameQuotesModel'
        playerStats:
          $ref: '#/components/schemas/PlayerStatsModel'
        totals:
          $ref: '#/components/schemas/TotalsModel'
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        tvCode:
          type: string
          nullable: true
        score:
          type: integer
          format: int32
        coachCode:
          type: string
          nullable: true
        coachName:
          type: string
          nullable: true
      additionalProperties: false
    GameHistoryModel:
      type: object
      properties:
        records:
          $ref: '#/components/schemas/RecordsModel'
        games:
          $ref: '#/components/schemas/HistoricalGamesModel'
      additionalProperties: false
    GameModel:
      type: object
      properties:
        gameNumber:
          type: integer
          format: int32
        confirmedDate:
          type: boolean
        standingsLocalScore:
          type: integer
          format: int32
        standingsRoadScore:
          type: integer
          format: int32
        gameCode:
          type: integer
          format: int32
        seasonCode:
          type: string
          nullable: true
        phaseTypeCode:
          type: string
          nullable: true
        gameDate:
          type: string
          nullable: true
        played:
          type: boolean
        win:
          type: integer
          format: int32
        tie:
          type: integer
          format: int32
        loss:
          type: integer
          format: int32
        versusType:
          type: string
          nullable: true
        versus:
          type: string
          nullable: true
      additionalProperties: false
    GameResultModel:
      type: object
      properties:
        round:
          type: string
          nullable: true
        gameDay:
          type: integer
          format: int32
        date:
          type: string
          nullable: true
        time:
          type: string
          nullable: true
        gameNumber:
          type: integer
          format: int32
        gameCode:
          type: string
          nullable: true
        group:
          type: string
          nullable: true
        homeTeam:
          type: string
          nullable: true
        homeCode:
          type: string
          nullable: true
        homeScore:
          type: integer
          format: int32
        awayTeam:
          type: string
          nullable: true
        awayCode:
          type: string
          nullable: true
        awayScore:
          type: integer
          format: int32
        played:
          type: boolean
      additionalProperties: false
    GroupModel:
      type: object
      properties:
        team:
          type: array
          items:
            $ref: '#/components/schemas/TeamModel'
          nullable: true
        name:
          type: string
          nullable: true
        round:
          type: string
          nullable: true
        gameNumber:
          type: integer
          format: int32
      additionalProperties: false
    HistoricalGameModel:
      type: object
      properties:
        year:
          type: integer
          format: int32
        seasonCode:
          type: string
          nullable: true
        date:
          type: string
          format: date-time
        phaseTypeCode:
          type: string
          nullable: true
        phaseTypeName:
          type: string
          nullable: true
        local:
          type: string
          nullable: true
        road:
          type: string
          nullable: true
        localScore:
          type: integer
          format: int32
        roadScore:
          type: integer
          format: int32
      additionalProperties: false
    HistoricalGamesModel:
      type: object
      properties:
        game:
          type: array
          items:
            $ref: '#/components/schemas/HistoricalGameModel'
          nullable: true
      additionalProperties: false
    MemberModel:
      type: object
      properties:
        profile:
          type: string
          nullable: true
        active:
          type: boolean
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        alias:
          type: string
          nullable: true
        dorsal:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
        signIn:
          type: string
          format: date-time
        signOut:
          type: string
          format: date-time
      additionalProperties: false
    PartialsModel:
      type: object
      properties:
        partial1:
          type: integer
          format: int32
        partial2:
          type: integer
          format: int32
        partial3:
          type: integer
          format: int32
        partial4:
          type: integer
          format: int32
        extraPeriod1:
          type: integer
          format: int32
        extraPeriod2:
          type: integer
          format: int32
        extraPeriod3:
          type: integer
          format: int32
        extraPeriod4:
          type: integer
          format: int32
        extraPeriod5:
          type: integer
          format: int32
      additionalProperties: false
    PersonModel:
      type: object
      properties:
        personName:
          type: string
          nullable: true
        personAlias:
          type: string
          nullable: true
        personPosition:
          type: string
          nullable: true
        personImage:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
      additionalProperties: false
    PhaseModel:
      type: object
      properties:
        games:
          type: array
          items:
            $ref: '#/components/schemas/GameModel'
          nullable: true
        code:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        alias:
          type: string
          nullable: true
      additionalProperties: false
    PlayerModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        alias:
          type: string
          nullable: true
        dorsal:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
      additionalProperties: false
    PlayersQuoteModel:
      type: object
      properties:
        quote:
          $ref: '#/components/schemas/PersonModel'
      additionalProperties: false
    PlayerStatsModel:
      type: object
      properties:
        stat:
          type: array
          items:
            $ref: '#/components/schemas/StatModel'
          nullable: true
      additionalProperties: false
    PregameQuotesModel:
      type: object
      properties:
        coach:
          $ref: '#/components/schemas/CoachQuoteModel'
        players:
          $ref: '#/components/schemas/PlayersQuoteModel'
      additionalProperties: false
    RecordsModel:
      type: object
      properties:
        localWins:
          type: integer
          format: int32
        roadWins:
          type: integer
          format: int32
        localHomeWins:
          type: integer
          format: int32
        localHomeLooses:
          type: integer
          format: int32
        localAwayWins:
          type: integer
          format: int32
        localAwayLooses:
          type: integer
          format: int32
        roadHomeWins:
          type: integer
          format: int32
        roadHomeLooses:
          type: integer
          format: int32
        roadAwayWins:
          type: integer
          format: int32
        roadAwayLooses:
          type: integer
          format: int32
      additionalProperties: false
    RefereeModel:
      type: object
      properties:
        name:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        countrycode:
          type: string
          nullable: true
      additionalProperties: false
    RefereesModel:
      type: object
      properties:
        referees:
          type: array
          items:
            $ref: '#/components/schemas/RefereeModel'
          nullable: true
      additionalProperties: false
    ResultsModel:
      type: object
      properties:
        gameResults:
          type: array
          items:
            $ref: '#/components/schemas/GameResultModel'
          nullable: true
      additionalProperties: false
    ScheduleItemModel:
      type: object
      properties:
        gameDay:
          type: integer
          format: int32
        round:
          type: string
          nullable: true
        arenaCode:
          type: string
          nullable: true
        arenaName:
          type: string
          nullable: true
        arenaCapacity:
          type: integer
          format: int32
        date:
          type: string
          nullable: true
        startTime:
          type: string
          nullable: true
        endTime:
          type: string
          nullable: true
        group:
          type: string
          nullable: true
        game:
          type: integer
          format: int32
        gameCode:
          type: string
          nullable: true
        homeTeam:
          type: string
          nullable: true
        homeCode:
          type: string
          nullable: true
        homeTv:
          type: string
          nullable: true
        awayTeam:
          type: string
          nullable: true
        awayCode:
          type: string
          nullable: true
        awayTv:
          type: string
          nullable: true
        confirmedDate:
          type: boolean
        confirmedTime:
          type: boolean
        played:
          type: boolean
      additionalProperties: false
    ScheduleModel:
      type: object
      properties:
        item:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItemModel'
          nullable: true
      additionalProperties: false
    SeasonPlayerModel:
      type: object
      properties:
        name:
          type: string
          nullable: true
        height:
          type: number
          format: double
        birthDate:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        imageHorizontalUrl:
          type: string
          nullable: true
        clubCode:
          type: string
          nullable: true
        clubName:
          type: string
          nullable: true
        dorsal:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        score:
          type: number
          format: double
        timePlayed:
          type: string
          nullable: true
        valuation:
          type: number
          format: double
        totalRebounds:
          type: number
          format: double
        offensiveRebounds:
          type: number
          format: double
        defensiveRebounds:
          type: number
          format: double
        assistances:
          type: number
          format: double
        steals:
          type: number
          format: double
        turnovers:
          type: number
          format: double
        blocksAgainst:
          type: number
          format: double
        blocksFavour:
          type: number
          format: double
        fieldGoals2Percent:
          type: string
          nullable: true
        fieldGoals3Percent:
          type: string
          nullable: true
        freeThrowsPercent:
          type: string
          nullable: true
        foulsCommited:
          type: number
          format: double
        foulsReceived:
          type: number
          format: double
        career:
          type: string
          nullable: true
        misc:
          type: string
          nullable: true
        stats:
          $ref: '#/components/schemas/SeasonStatsModel'
      additionalProperties: false
    SeasonStatsModel:
      type: object
      properties:
        accumulated:
          $ref: '#/components/schemas/AccumulatedSeasonStatsModel'
      additionalProperties: false
    StandingsModel:
      type: object
      properties:
        group:
          type: array
          items:
            $ref: '#/components/schemas/GroupModel'
          nullable: true
      additionalProperties: false
    StatModel:
      type: object
      properties:
        timePlayed:
          type: string
          nullable: true
        timePlayedSeconds:
          type: integer
          format: int32
        dorsal:
          type: integer
          format: int32
        playerCode:
          type: string
          nullable: true
        playerName:
          type: string
          nullable: true
        playerAlias:
          type: string
          nullable: true
        startFive:
          type: boolean
        startFive2:
          type: boolean
        valuation:
          type: integer
          format: int32
        score:
          type: integer
          format: int32
        fieldGoalsMade2:
          type: integer
          format: int32
        fieldGoalsAttempted2:
          type: integer
          format: int32
        fieldGoalsMade3:
          type: integer
          format: int32
        fieldGoalsAttempted3:
          type: integer
          format: int32
        freeThrowsMade:
          type: integer
          format: int32
        freeThrowsAttempted:
          type: integer
          format: int32
        fieldGoalsMadeTotal:
          type: integer
          format: int32
        fieldGoalsAttemptedTotal:
          type: integer
          format: int32
        accuracyMade:
          type: integer
          format: int32
        accuracyAttempted:
          type: integer
          format: int32
        totalRebounds:
          type: integer
          format: int32
        defensiveRebounds:
          type: integer
          format: int32
        offensiveRebounds:
          type: integer
          format: int32
        assistances:
          type: integer
          format: int32
        steals:
          type: integer
          format: int32
        turnovers:
          type: integer
          format: int32
        contras:
          type: integer
          format: int32
        dunks:
          type: integer
          format: int32
        blocksFavour:
          type: integer
          format: int32
        blocksAgainst:
          type: integer
          format: int32
        foulsCommited:
          type: integer
          format: int32
        foulsReceived:
          type: integer
          format: int32
        plusMinus:
          type: integer
          format: int32
        fieldGoals2:
          type: string
          nullable: true
        fieldGoals3:
          type: string
          nullable: true
        freeThrows:
          type: string
          nullable: true
        fieldGoals2Percent:
          type: string
          nullable: true
        fieldGoals3Percent:
          type: string
          nullable: true
        freeThrowsPercent:
          type: string
          nullable: true
        fieldGoalsPercent:
          type: number
          format: double
        accuracyPercent:
          type: number
          format: double
        assistancesTurnoversRatio:
          type: number
          format: double
      additionalProperties: false
    TeamModel:
      type: object
      properties:
        name:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        ranking:
          type: integer
          format: int32
        totalGames:
          type: integer
          format: int32
        wins:
          type: integer
          format: int32
        losses:
          type: integer
          format: int32
        pointsFavour:
          type: integer
          format: int32
        pointsAgainst:
          type: integer
          format: int32
        difference:
          type: integer
          format: int32
      additionalProperties: false
    TotalModel:
      type: object
      properties:
        clubCode:
          type: string
          nullable: true
        gamesPlayed:
          type: integer
          format: int32
        timePlayed:
          type: string
          nullable: true
        timePlayedSeconds:
          type: integer
          format: int32
        valuation:
          type: integer
          format: int32
        score:
          type: integer
          format: int32
        fieldGoalsMade2:
          type: integer
          format: int32
        fieldGoalsAttempted2:
          type: integer
          format: int32
        fieldGoalsMade3:
          type: integer
          format: int32
        fieldGoalsAttempted3:
          type: integer
          format: int32
        freeThrowsMade:
          type: integer
          format: int32
        freeThrowsAttempted:
          type: integer
          format: int32
        fieldGoalsMadeTotal:
          type: integer
          format: int32
        fieldGoalsAttemptedTotal:
          type: integer
          format: int32
        accuracyMade:
          type: integer
          format: int32
        accuracyAttempted:
          type: integer
          format: int32
        totalRebounds:
          type: integer
          format: int32
        defensiveRebounds:
          type: integer
          format: int32
        offensiveRebounds:
          type: integer
          format: int32
        assistances:
          type: integer
          format: int32
        steals:
          type: integer
          format: int32
        turnovers:
          type: integer
          format: int32
        contras:
          type: integer
          format: int32
        dunks:
          type: integer
          format: int32
        blocksFavour:
          type: integer
          format: int32
        blocksAgainst:
          type: integer
          format: int32
        foulsCommited:
          type: integer
          format: int32
        foulsReceived:
          type: integer
          format: int32
        plusMinus:
          type: integer
          format: int32
        fieldGoals2:
          type: string
          nullable: true
        fieldGoals3:
          type: string
          nullable: true
        freeThrows:
          type: string
          nullable: true
        fieldGoals2Percent:
          type: number
          format: double
        fieldGoals3Percent:
          type: number
          format: double
        freeThrowsPercent:
          type: number
          format: double
        fieldGoalsPercent:
          type: number
          format: double
        accuracyPercent:
          type: number
          format: double
        assistancesTurnoversRatio:
          type: integer
          format: int32
        clubName:
          type: string
          nullable: true
        clubSeasonCode:
          type: string
          nullable: true
      additionalProperties: false
    TotalsModel:
      type: object
      properties:
        total:
          type: array
          items:
            $ref: '#/components/schemas/TotalModel'
          nullable: true
      additionalProperties: false
    TvScheduleModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
        broadcastDateTime:
          type: string
          format: date-time
        deferred:
          type: boolean
      additionalProperties: false
    TvSchedulesModel:
      type: object
      properties:
        tv:
          type: array
          items:
            $ref: '#/components/schemas/TvScheduleModel'
          nullable: true
      additionalProperties: false
    VideoModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
      additionalProperties: false