openapi: 3.0.1
info:
  title: Competition Engine
  version: '2.0'
servers:
  - url: https://api-live.euroleague.net
paths:
  /v2/runPendingOperations: { }
  /v2/syncAllImages: { }
  /v2/clubs:
    get:
      tags:
        - Clubs
      summary: Get all registered clubs
      parameters:
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: hasParentClub
          in: query
          description: ''
          schema:
            type: boolean
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}':
    get:
      tags:
        - Clubs
      summary: Get a club by its code
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/parentClubs/{parentClubCode}/clubs':
    get:
      tags:
        - Clubs
      summary: Get list of clubs assigned to parent club
      parameters:
        - name: parentClubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}/info':
    get:
      tags:
        - Clubs
      summary: Get a club by its code
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubInfoModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}/videos':
    get:
      tags:
        - Clubs
      summary: Get the latest club videos
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubVideoModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubVideoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{code}': { }
  /v2/competitions:
    get:
      tags:
        - Competitions
      summary: Gets all competitions
      parameters:
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompetitionModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}':
    get:
      tags:
        - Competitions
      summary: Gets competition by code
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompetitionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{code}': { }
  /v2/years: { }
  '/v2/competitions/{competitionCode}/years/{year}': { }
  '/v2/years/{id}': { }
  /v2/countries: { }
  '/v2/countries/{code}': { }
  /v2/playerPositions: { }
  /v2/gameStatuses: { }
  /v2/phaseTypes: { }
  '/v2/phaseTypes/{code}': { }
  /v2/personTypes: { }
  '/v2/personTypes/{code}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games':
    get:
      tags:
        - Games
      summary: Gets all season games
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
        - name: roundNumber
          in: query
          description: ''
          schema:
            type: string
        - name: groupName
          in: query
          description: ''
          schema:
            type: string
        - name: groupId
          in: query
          description: ''
          schema:
            type: string
            format: uuid
        - name: teamCode
          in: query
          description: ''
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetailsModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GameDetailsModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}':
    get:
      tags:
        - Games
      summary: Gets season game details
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetailsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GameDetailsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/history':
    get:
      tags:
        - Games
      summary: Gets season games history
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesHistoryModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GamesHistoryModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/groups':
    get:
      tags:
        - Groups
      summary: Get a competition season phase groups
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailsModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GroupDetailsModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/groups/{groupId}':
    get:
      tags:
        - Groups
      summary: Get a competition season phase group by id
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GroupDetailsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/groups/name/{groupRawName}':
    get:
      tags:
        - Groups
      summary: Get a competition season phase group by RawName
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: groupRawName
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GroupDetailsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v2/parentclubs: { }
  '/v2/parentclubs/{parentClubCode}': { }
  '/v2/parentclubs/{code}': { }
  /v2/people:
    get:
      tags:
        - People
      summary: Get all registered people
      parameters:
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/people/{personCode}':
    get:
      tags:
        - People
      summary: Get a person by its code
      parameters:
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/people/{personCode}/bio':
    get:
      tags:
        - People
      summary: Get a person's bio by personCode
      parameters:
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonBioModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonBioModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/people/{personCode}/seasons':
    get:
      tags:
        - People
      summary: Get a person seasons
      parameters:
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/people/{personCode}':
    get:
      tags:
        - People
      summary: Gets competition person seasons
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/people/{code}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases':
    get:
      tags:
        - Phases
      summary: Get a competition season phases
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}':
    get:
      tags:
        - Phases
      summary: Get a competition season phase
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhaseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhaseModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/phases':
    get:
      tags:
        - Phases
      summary: Get a competition season club phases
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teams/{teamCode}/roster': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teams/{teamCode}/roster/{playerCode}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/provisional-people': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/provisional-people/{id}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/provisional-people': { }
  '/v2/clubs/{clubCode}/competition/{competitionCode}/gamerecords':
    get:
      tags:
        - Records
      summary: Gets highest club results in single game
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubRecordModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubRecordModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}/competition/{competitionCode}/seasonrecords':
    get:
      tags:
        - Records
      summary: Gets highest club results in season (average)
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubRecordModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubRecordModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}/competition/{competitionCode}/playerhighs':
    get:
      tags:
        - Records
      summary: Gets best results of any player of the team in single game
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/clubs/{clubCode}/competition/{competitionCode}/playerseasonrecords':
    get:
      tags:
        - Records
      summary: Gets best results of any player of the team in single season (average)
      parameters:
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/people/{personCode}/careerhighs':
    get:
      tags:
        - Records
      summary: Gets player career highs (best results in single game)
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerHighModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people/{personCode}/ranks':
    get:
      tags:
        - Records
      summary: Gets player season rankings
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonRankModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonRankModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/people/{personCode}/records':
    get:
      tags:
        - Records
      summary: Gets person games records
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personType
          in: query
          description: ''
          schema:
            type: string
        - name: clubCode
          in: query
          description: ''
          schema:
            type: string
        - name: versusClubCode
          in: query
          description: ''
          schema:
            type: string
        - name: versusPersonCode
          in: query
          description: ''
          schema:
            type: string
        - name: versusPersonType
          in: query
          description: ''
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonGameRecordModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonGameRecordModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/records':
    get:
      tags:
        - Records
      summary: Gets club win-loss ratio in season
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonClubGameRecordsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonClubGameRecordsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  /v2/referees:
    get:
      tags:
        - Referees
      summary: Get all registered referees
      parameters:
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/referees/{personCode}':
    get:
      tags:
        - Referees
      summary: Get a referee by his person code
      parameters:
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RefereeModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/referees':
    get:
      tags:
        - Referees
      summary: Gets referees for competition
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/referees':
    get:
      tags:
        - Referees
      summary: Gets referees for season
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RefereeModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds':
    get:
      tags:
        - Rounds
      summary: Gets competition season rounds
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoundModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}':
    get:
      tags:
        - Rounds
      summary: Gets competition season round
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: roundNumber
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoundModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/rounds': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/rounds/{roundNumber}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs':
    get:
      tags:
        - SeasonClubs
      summary: Get a competition season clubs
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonClubDetailsModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonClubDetailsModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}':
    get:
      tags:
        - SeasonClubs
      summary: Get a competition season club
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonClubDetailsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonClubDetailsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/clubs/{clubCode}/seasons':
    get:
      tags:
        - SeasonClubs
      summary: Get a club seasons
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubInSeasonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubInSeasonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people/{externalId}/person':
    get:
      tags:
        - SeasonPeople
      summary: Get a season person by externalId
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people':
    get:
      tags:
        - SeasonPeople
      summary: Gets season people
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personType
          in: query
          description: ''
          schema:
            type: string
        - name: active
          in: query
          description: ''
          schema:
            type: boolean
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
        - name: sortBy
          in: query
          description: ''
          schema:
            $ref: '#/components/schemas/SeasonPersonSortDto'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people/{externalId}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people/{personCode}':
    get:
      tags:
        - SeasonPeople
      summary: Gets season person
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: active
          in: query
          description: ''
          schema:
            type: boolean
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/people':
    get:
      tags:
        - SeasonPeople
      summary: Get a competition season club people
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: active
          in: query
          description: ''
          schema:
            type: boolean
        - name: personType
          in: query
          description: ''
          schema:
            type: string
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonPersonModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonPersonModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/people/{personCode}':
    get:
      tags:
        - SeasonPeople
      summary: Get a competition season club person
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/players':
    get:
      tags:
        - SeasonPeople
      summary: Gets season people
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: query
          description: ''
          schema:
            type: string
        - name: search
          in: query
          description: ''
          schema:
            type: string
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonPersonModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons':
    get:
      tags:
        - Seasons
      summary: Get all competition seasons
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: competitionYear
          in: query
          description: ''
          schema:
            type: integer
            format: int32
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonDetailsModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonDetailsModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}':
    get:
      tags:
        - Seasons
      summary: Get a competition season
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonDetailsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SeasonDetailsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}/standings':
    get:
      tags:
        - Standings
      summary: Gets competition season round standings
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          required: true
          schema:
            type: string
        - name: roundNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoundStandingModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoundStandingModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}/groups/{groupId}/standings':
    get:
      tags:
        - Standings
      summary: Gets competition season group standings
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          required: true
          schema:
            type: string
        - name: roundNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StandingModelFull'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StandingModelFull'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}/groups/{groupId}/standings/{standingId}':
    get:
      tags:
        - Standings
      summary: Gets single standing entry
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          required: true
          schema:
            type: string
        - name: roundNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: standingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingModelFull'
            application/xml:
              schema:
                $ref: '#/components/schemas/StandingModelFull'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}/groups/{groupId}/standings/import': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/rounds/{roundNumber}/standings/check': { }
  '/v2/competitions/{competitionCode}/stats/clubs/{clubCode}/highs':
    get:
      tags:
        - Stats
      summary: Gets highs stats for club in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          required: true
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/clubs/{clubCode}/lows':
    get:
      tags:
        - Stats
      summary: Gets lows stats for club in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          required: true
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/clubs/leaders':
    get:
      tags:
        - Stats
      summary: Gets clubs leaders stats
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 200
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/clubs/records':
    get:
      tags:
        - Stats
      summary: Gets records stats for club in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: groupBy
          in: query
          schema:
            $ref: '#/components/schemas/StatsGroupByModel'
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 200
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/players/{personCode}/highs':
    get:
      tags:
        - Stats
      summary: Gets person highs stats in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          required: true
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/players/{personCode}/lows':
    get:
      tags:
        - Stats
      summary: Gets person lows stats in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          required: true
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/players/leaders':
    get:
      tags:
        - Stats
      summary: Gets person leaders stats in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: maxRound
          in: query
          schema:
            type: integer
            format: int32
        - name: round
          in: query
          schema:
            type: integer
            format: int32
        - name: clubCode
          in: query
          schema:
            type: string
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 200
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/stats/players/records':
    get:
      tags:
        - Stats
      summary: Gets person records stats in competition
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: groupBy
          in: query
          schema:
            $ref: '#/components/schemas/StatsGroupByModel'
        - name: SeasonMode
          in: query
          schema:
            $ref: '#/components/schemas/SeasonRangeModeModel'
        - name: SeasonCode
          in: query
          schema:
            type: string
        - name: FromSeasonCode
          in: query
          schema:
            type: string
        - name: ToSeasonCode
          in: query
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/StatsCategoryModel'
        - name: aggregate
          in: query
          schema:
            $ref: '#/components/schemas/StatsAggregateModel'
        - name: misc
          in: query
          schema:
            $ref: '#/components/schemas/MiscStatsFilterModel'
        - name: restrictions
          in: query
          schema:
            $ref: '#/components/schemas/CriteriaTypeModel'
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 200
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubPersonStatsModelStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/people/{personCode}/stats':
    get:
      tags:
        - Stats
      summary: Gets season person stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/people/{personCode}/stats':
    get:
      tags:
        - Stats
      summary: Gets person stats in competition
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
        - name: personType
          in: query
          description: ''
          schema:
            type: string
            default: J
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/people/{personCode}/averages':
    get:
      tags:
        - Stats
      summary: Gets averages of person stats in competition
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonAveragesStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonAveragesStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/people/{personCode}/stats':
    get:
      tags:
        - Stats
      summary: Gets person stats in all competitions
      parameters:
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonCompetitionStatsModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonCompetitionStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/people/{personCode}/stats':
    get:
      tags:
        - Stats
      summary: Get a competition season person stats in a club
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: personCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonAggregatedStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/people/stats':
    get:
      tags:
        - Stats
      summary: Get a competition season club players stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: phaseTypeCode
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStatsCollectionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlayerStatsCollectionModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/stats':
    get:
      tags:
        - Stats
      summary: Get a competition season club stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: maxRound
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedStatsModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubs/{clubCode}/stats/reverse':
    get:
      tags:
        - Stats
      summary: Get a competition season club players stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: maxRound
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedStatsModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubStats':
    get:
      tags:
        - Stats
      summary: Get a competition season all club stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: maxRound
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedSeasonStatsModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedSeasonStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/clubStats/reverse':
    get:
      tags:
        - Stats
      summary: Get a competition season all club stats reverse
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: maxRound
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedSeasonStatsModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAggregatedSeasonStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/clubs/{clubCode}/stats':
    get:
      tags:
        - Stats
      summary: Get a competition season club stats
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: clubCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubAllTimeStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubAllTimeStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/stats':
    get:
      tags:
        - Stats
      summary: Gets game statistics
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClubsGameStatsModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClubsGameStatsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teamLeaders':
    get:
      tags:
        - Stats
      summary: Gets team leaders (pre-game)
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameTeamLeadersModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/GameTeamLeadersModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teamsComparison':
    get:
      tags:
        - Stats
      summary: Teams comparison (pre-game)
      parameters:
        - name: competitionCode
          in: path
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsComparisonModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/TeamsComparisonModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/stats/import': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teamGameStats/{teamCode}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/teamGameStats': { }
  /v2/televisions: { }
  '/v2/televisions/{id}': { }
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/tvschedules':
    get:
      tags:
        - TelevisionSchedules
      summary: Gets game tv schedules
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TelevisionScheduleModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TelevisionScheduleModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/games/{gameCode}/tvschedules/{televisionScheduleId}':
    get:
      tags:
        - TelevisionSchedules
      summary: Gets game tv schedules
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: gameCode
          in: path
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        - name: televisionScheduleId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelevisionScheduleModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/TelevisionScheduleModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/phases/{phaseTypeCode}/schedule/import': { }
  /v2/venues:
    get:
      tags:
        - Venues
      summary: Gets all venues
      parameters:
        - name: Limit
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: Offset
          in: query
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueModelPagingResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/VenueModelPagingResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/venues/{venueCode}':
    get:
      tags:
        - Venues
      summary: Gets venue by code
      parameters:
        - name: venueCode
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/VenueModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/competitions/{competitionCode}/seasons/{seasonCode}/venues':
    get:
      tags:
        - Venues
      summary: Get venues (stadiums) used by clubs in a season
      parameters:
        - name: competitionCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: seasonCode
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: search
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubVenuesModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubVenuesModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - OAuth2:
            - euroleagueapi
  '/v2/venues/{code}': { }
components:
  schemas:
    ClubAggregatedSeasonStatsModel:
      type: object
      properties:
        clubCode:
          type: string
          nullable: true
        accumulated:
          $ref: '#/components/schemas/GameClubStatsSummaryModel'
        averagePerGame:
          $ref: '#/components/schemas/GameClubStatsSummaryModel'
      additionalProperties: false
    ClubAggregatedStatsModel:
      type: object
      properties:
        accumulated:
          $ref: '#/components/schemas/GameClubStatsSummaryModel'
        averagePerGame:
          $ref: '#/components/schemas/GameClubStatsSummaryModel'
      additionalProperties: false
    ClubAllTimeStatsModel:
      type: object
      properties:
        seasons:
          type: array
          items:
            $ref: '#/components/schemas/ClubSeasonStatsModel'
          nullable: true
        totalStats:
          $ref: '#/components/schemas/GameClubStatsSummaryModel'
      additionalProperties: false
    ClubGameStatsModel:
      type: object
      properties:
        coach:
          $ref: '#/components/schemas/CoachModel'
        players:
          type: array
          items:
            $ref: '#/components/schemas/ClubPersonGameStatsModel'
          nullable: true
        team:
          $ref: '#/components/schemas/GameStatsModel'
        total:
          $ref: '#/components/schemas/GameStatsModel'
      additionalProperties: false
    ClubInfoModel:
      type: object
      properties:
        info:
          type: string
          nullable: true
      additionalProperties: false
    ClubInSeasonModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        abbreviatedName:
          type: string
          nullable: true
        editorialName:
          type: string
          nullable: true
        tvCode:
          type: string
          nullable: true
        sponsor:
          type: string
          nullable: true
        season:
          $ref: '#/components/schemas/SeasonModel'
      additionalProperties: false
    ClubInSeasonModelPagingResultModel:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ClubInSeasonModel'
          nullable: true
        total:
          type: integer
          format: int32
      additionalProperties: false
    ClubModel:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        alias:
          type: string
[...]
